<launch>
  <arg name="rosbag_name" default="bagfiles/test.bag" />

  <rosparam command="delete" param="robot_calibration" />
  <node pkg="robot_calibration" type="capture_features" name="capture_features"
        output="screen" >
    <rosparam file="$(find picknik_test_stand_kinematic_calibration)/config/capture_checkerboards.yaml" command="load" />
    <param name="bag_filename" value="$(find picknik_test_stand_kinematic_calibration)/$(arg rosbag_name)" />
  </node>

  <node pkg="picknik_test_stand_kinematic_calibration" type="calibration_data_visualization" name="calibration_data_visualization"
        output="screen" />
    
</launch>
