<launch>
  <arg name="rosbag_name" default="bagfiles/test.bag" />
  <arg name="verbose" default="true" />

  <rosparam command="delete" param="robot_calibration" />
  <node pkg="robot_calibration" type="optimize_parameters" name="robot_calibration"
        output="screen" >
    <rosparam file="$(find picknik_test_stand_kinematic_calibration)/config/calibrate.yaml" command="load" />
    <param name="bag_filename" value="$(find picknik_test_stand_kinematic_calibration)/$(arg rosbag_name)" />
    <param name="verbose" value="$(arg verbose)" />
  </node>
  
</launch>
