<launch>
  <arg name="robot_ip" default="10.6.1.140" />
  <arg name="simulate" default="true" />
  <arg name="end_effector" default="mock_grappler" />
  <arg name="open_rviz" default="true" />
  <arg name="robot_description_file" default="$(find picknik_test_stand_description)/launch/picknik_test_stand_description.launch" />

  <!-- Simulation settings -->
  <group if="$(arg simulate)" >

    <include file="$(arg robot_description_file)" >
      <arg name="end_effector" value="$(arg end_effector)" />
    </include>

    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" >
        <rosparam param="source_list">[move_group/fake_controller_joint_states]</rosparam>
    </node> 

  </group>

  <!-- Hardware settings -->
  <group unless="$(arg simulate)" >

    <!-- Load URDFs, joint limits and kinematics -->
    <include file="$(find picknik_test_stand_bringup)/launch/ur5_bringup.launch" >
      <arg name="robot_ip" value="$(arg robot_ip)" />
      <arg name="robot_description_file" value="$(arg robot_description_file)" />
      <arg name="end_effector" value="$(arg end_effector)" />
    </include>

    <!-- Launch RealSense -->
    <include file="$(find realsense2_camera)/launch/rs_camera.launch" >
      <arg name="filters" value="pointcloud" />
      <arg name="ordered_pc" value="true" />
    </include>

  </group>

  <!-- The semantic description that corresponds to the URDF -->
  <param name="robot_description_semantic" command="$(find xacro)/xacro '$(find picknik_test_stand_description)/config/picknik_test_stand.srdf.xacro'
    end_effector:=$(arg end_effector)" 
  />

  <!-- Launch MoveIt -->
  <include file="$(find picknik_test_stand_moveit_config)/launch/picknik_test_stand_moveit.launch" >
    <arg name="simulate" value="$(arg simulate)" />
  </include>

  <!-- Launch RViz -->
  <group if="$(arg open_rviz)" />
    <group if="$(arg simulate)" >
      <node name="rviz" pkg="rviz" type="rviz" args="-d $(find picknik_test_stand_bringup)/config/picknik_test_stand_bringup_simulation.rviz" required="true" />
    </group>

    <group unless="$(arg simulate)" >
      <node name="rviz" pkg="rviz" type="rviz" args="-d $(find picknik_test_stand_bringup)/config/picknik_test_stand_bringup_hardware.rviz" required="true" />
    </group>
  </group>
</launch>
